[Unit]
Description=Solana Validator
After=network.target
StartLimitIntervalSec=0

[Service]
LimitNOFILE=1000000
Type=simple
Restart=always
RestartSec=1
User=solana
Environment=PATH=/home/solana/.local/share/solana/install/active_release/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=SOLANA_METRICS_CONFIG="host=https://metrics.solana.com:8086,db=mainnet-beta,u=mainnet-beta_write,p=password"
ExecStart=/home/solana/.local/share/solana/install/active_release/bin/agave-validator \
    --identity /home/solana/validator-keypair.json \
    --only-known-rpc \
    --full-rpc-api \
    --no-voting \
    --ledger {{ ledger_path }} \
    --accounts {{ accounts_path }} \
    --log /home/solana/solana-rpc.log \
    --rpc-port 8899 \
    --rpc-bind-address 0.0.0.0 \
    --private-rpc \
    --dynamic-port-range 8000-8020 \
    --entrypoint entrypoint.mainnet-beta.solana.com:8001 \
    --entrypoint entrypoint2.mainnet-beta.solana.com:8001 \
    --entrypoint entrypoint3.mainnet-beta.solana.com:8001 \
    --entrypoint entrypoint4.mainnet-beta.solana.com:8001 \
    --entrypoint entrypoint5.mainnet-beta.solana.com:8001 \
    --expected-genesis-hash 5eykt4UsFv8P8NJdTREpY1vzqKqZKvdpKuc147dw2N9d \
    --known-validator 7Np41oeYqPefeNQEHSv1UDhYrehxin3NStELsSKCT4K2 \
    --known-validator GdnSyH3YtwcxFvQrVVJMm1JhTS4QVX7MFsX56uJLUfiZ \
    --known-validator DE1bawNcRJB9rVm3buyMVfr8mBEoyyu73NBovf2oXJsJ \
    --known-validator CakcnaRDHka2gXyfbEd2d3xsvkJkqsLw2akB3zsN1D2S \
    --wal-recovery-mode skip_any_corrupted_record \
    --limit-ledger-size \
    --max-genesis-archive-unpacked-size 500000000 \
    --snapshot-interval-slots 50000 \
    --incremental-snapshots \
    --incremental-snapshot-interval-slots 10000 \
    --no-port-check \
    --no-snapshot-fetch \
    --accounts-index-memory-limit-mb 128000 \
    --accounts-db-skip-shrink \
    --accounts-db-caching-enabled \
    --accounts-db-skip-shrink \
    --accounts-db-config-path /home/solana/accounts-db-config.yml \
    --rocksdb-shred-compaction parallel \
    --rocksdb-max-compaction-threads 4 \
    --rocksdb-compression-type lz4

[Install]
WantedBy=multi-user.target