pymongo 
jinja2
requests
tqdm
sanic
ujson
passlib
sanic-cors
loguru
transliterate
xlsxwriter
arrow
pillow
matplotlib
scikit-image
numpy
motor
aiotask_context
pydantic
pydantic[email]
devtools[pygments]
aiohttp
pyotp
python-dotenv
rich
PyCryptodome
pendulum
httpx
mnemonic
glom
base58
yagmail
beautifulsoup4
pybars3
dynaconf
python-box[all]~=7.0
apscheduler
gspread
redis
pdf2image
tronpy
tiktoken
openai
aiogram
google-api-python-client
hdwallet
aiohttp-session 
aiohttp-socks
toml
html-sanitizer
tenacity
srp